.comebacker__form{
	.form__heading{
		color: $yellow;
		font-size: 1.6rem;
		margin-bottom: 1rem;
		text-align: center;
	}
	.button-submit{
		font-size: 1.1rem;
	}
	.private-policy{
		margin: 1rem 0;
		justify-content: center;
	}
}