.information{
	background: #2c2c2c url("../img/second-bg.jpg") no-repeat top center /cover;
	padding: 3.5rem 0 2rem;
	&__heading{
		color: $yellow;
		text-transform: uppercase;
		text-align: center;
		font-weight: 500;
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}
}

