.mac{
	position: absolute;
	top:50%;
	right: -10%;
	max-width: 65%;
}
@media only screen and (min-width: 1921px){
	.mac{
		top: 45%;
		width: 45%;
	}
}
@media only screen and (max-width: 1921px){
	.mac{
		top: 48%;
		width: 45%;
	}
}
@media only screen and (max-width: 1700px){
	.mac{
		top: 50%;
		width: 50%;
	}
}


@media only screen and (max-width: 1440px){
	.mac{
		top: 48%;
		width: 60%;
	}
}
@media only screen and (max-width: 1200px){
	.mac{
		top: 54%;
		width: 55%;
	}
}
@media only screen and (max-width: 992px){
	.mac{
		top: 65%;
		width: 40%;
		right: -5%;
	}
}
@media only screen and (max-width: 767px){
	.mac{
		top: 60%;
		width: 55%;
	}
}
@media only screen and (max-width: 575px){
	.mac{
		top: 62%;
		width:55%;
	}
}
@media only screen and (max-width: 480px){
	.mac{
		top: 65%;
		width: 60%;
	}
}

@media only screen and (max-width: 380px){
	.mac{
		top: 70%;
	}
}


