.money-banner{
	background: #383737 url("../img/money-banner.jpg") no-repeat top center /cover;
	padding: 2rem 0;
	&__heading{
		font-size: 1rem;
		color: #fff;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
	}
}

