.paysystems{
	padding: 3.5rem 0 4rem;
	.owl-carousel{
		width: 90%;
		margin: 0 auto;
	}
	.owl-carousel .owl-nav button{
  	position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}
	.owl-carousel .owl-nav button:focus{
  	-webkit-text-stroke: aqua;
	}
	.owl-carousel .owl-nav button.owl-prev{
		left: -8%;
		font-size: 4.5rem;
		color: lightgray;
		background: none;
		border-color: #fff;
	}
	.owl-carousel .owl-nav button.owl-next{
		right: -8%;
		font-size: 4.5rem;
		color: #d3d1d1;
		background: none;
	}
}
