@import "variables";

@import "../../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/input-group";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/custom-forms";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/images";

@import "blocks/header";
@import "blocks/button";
@import "blocks/form";
@import "blocks/information_block";
@import "blocks/card";
@import "blocks/money-banner";
@import "blocks/oil-banner";
@import "blocks/services";
@import "blocks/header__form";
@import "blocks/services__form";
@import "blocks/comebacker";
@import "blocks/comebacker__form";
@import "blocks/paysystems";
@import "blocks/footer";
@import "blocks/mac";
@import "../libs/owl.carousel.min";
@import "../libs/owl.theme.default.min";

html{
	font-family: $main-text;
  font-size: 0.7rem;
  min-width: 320px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.75rem;
  }
  .header{
    padding-bottom: 15rem;
    background: #a7a7a7 url("../img/first-bg.jpg") no-repeat 50% top /cover;
  }
  .button{
    font-size: 1.2rem;
  }
  .oil-banner{
    padding: 4rem 0;
  }
  .oil-banner__heading{
    font-size: 1.5rem;
  }
  .money-banner{
    padding: 4rem 0;
  }
  .money-banner__heading{
    font-size: 1.5rem;
  }
  .comebacker{
   padding: 4rem 0 2rem;
  }
  .footer{
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.8rem;
  }
  .button{
    font-size: 1.1rem;
  }
  .header{
    padding-bottom: 0;
  };
  .header__logo{
    margin-bottom: 3rem;
  }
  .header__heading{
    font-size: 2.3rem;
  }
  .header__description{
    font-size: 1.05rem;
  }
  .header__form{
    background: rgba(0,0,0,0.8);
  }
  .header__form .form__heading{
    font-size: 1.2rem;
    padding: 4rem 0 0.5rem;
  }
  .header__form .button-submit{
    font-size: 1rem;
  }
  .contact{
  padding-top: 2.5rem;
  font-size: 1.2rem;
  }
  .information{
  padding: 6rem 0 4rem;
  }

  .information__heading{
    font-size: 2rem;
    margin-bottom: 4.5rem;
  }
  .services{
  padding: 6rem 0 9rem;
  }
  .services__heading{
    font-size: 2rem;
    margin-bottom: 4.5rem;
  }
  .services__description{
    margin-top: 5rem;
    font-size: 1.7rem;
    margin-bottom: 4rem;
  }
  .services .form__heading{
    font-size: 1.45rem;
  }
  .oil-banner{
    padding: 7.5rem 0;
  }
  .oil-banner__heading{
    font-size: 2rem;
  }
  .money-banner{
    padding: 7.5rem 0;
  }
  .money-banner__heading{
    font-size: 2rem;
  }
  .comebacker{
   padding: 7rem 0 3rem;
  }
  .comebacker__form .form__heading{
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  .footer{
    font-size: 0.85rem;
  }

 .footer .nav-item:nth-child(odd) .nav-link:after{
    content: '';
  }
  .footer .nav{
    flex-direction: column;
    margin-left: 0.6rem;
  }
  .footer .nav a{
    padding: 0.3rem 0;
  }
  .footer__icons{
    flex-direction: column;
    justify-content: space-around;
  }
  .footer .footer__icons img{
    width: 1.65rem;
    margin-right: 0;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 0.9rem;
  }
  .header__heading{
    font-size: 3rem;
    margin-top: 3rem;
  }
  .header__description{
    font-size: 1.3rem;
  }
  .header__logo{
    margin-bottom: 4rem;
  }
  .header__form{
    padding-bottom: 10rem;
  }
  .header__form .button-submit{
    font-size: 1.2rem;
  }
  .header__form .form__heading{
    font-size: 1.5rem;
    padding: 8rem 0 1.5rem;
  }
  .services__description{
    margin-top: 10rem;
  }
  .footer{
    font-size: 1.1rem;
  }
  .footer .nav{
    margin-left: 1rem;
  }
  .footer .footer__icons img{
    width: 2rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1rem;
  }
}

@media only screen
and (min-device-width: 576px)
and (max-device-width: 766px){
  ul.nav{
    padding-right: 25%;
  }
}
@media only screen
and (min-device-width: 472px)
and (max-device-width: 575px){
  ul.nav{
    padding-right: 31%;
  }
}

@media only screen
and (min-device-width: 385px)
and (max-device-width: 472px){
  ul.nav{
    padding-right: 15%;
  }
}
@media only screen
and (max-device-width: 384px){
  ul.nav{
    padding-right: 0;
  }
}
