$gray-600:                  #6c757d;
$link-color:                $gray-600;
$link-decoration:          	underline;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     none ;
$font-family-sans-serif:  Ubuntu, Arial, sans-serif; 
$main-text: $font-family-sans-serif;
$secondary-text: 'Roboto', sans-serif;
$yellow : #fcff00;

